<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset = "utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1 align="center">Welcome</h1>
    <div align="center">
	<form method="post" action = "/login" >
		<table>
			<tr>
				<td><label for = id_username>用户名：</label></td>
				<td><input id = 'id_username' type = "test" name = "userName"  required/></td>
			</tr>
			<tr>
				<td><label for = id_password>密码：</label></td>
				<td><input id = id_password type = "password" name = "passWord" required/></td>
			</tr>
			<tr>
				<td><input type = "submit" value = "登录" style="width:100px"/></td>
				<td><input type = "reset" value = "重置"  style="width:100px"/></td>
			</tr>
		</table>
	</form>
    </div>
	<HR style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9,strength=10)" width="80%" color=#987cb9 SIZE=1>
	<footer><div align="center"><small>湘ICP备17017352号</small></div> </footer>
  </body>
</html>
