<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset = "utf-8">
    <title>搜索结果</title>
      <style>
      td
      {width:300px;
      border: solid #000000 1px;
    }
    </style>
  </head>

  <body>
  <table>
  <tr>
      <td>时间</td>
      <td>温度一</td>
      <td>温度二</td>
      <td>温度三</td>
      <td>温度四</td>
      <td>温度五</td>
      <td>温度六</td>
      <td>温度七</td>
      <td>温度八</td>
      <td>端口名</td>
  </tr>
  {% for line in result %}
      <tr>
      <td> {{ line.time | date:"Y年m月d日 H:i:s"}}</td>

      {% if line.T1 %}
          {%if line.T1 < upTemper %}
              <td>{{ line.T1 }}</td>
          {% else %}
              <td style="color: red">
              {{ line.T1 }}
              </td>
          {% endif %}
      {% else %}
          <td></td>
      {% endif %}
      {% if line.T2 %}
          {%if line.T2 < upTemper %}
              <td>{{ line.T2 }}</td>
          {% else %}
              <td style="color: red">
              {{ line.T2 }}
              </td>
          {% endif %}
      {% else %}
          <td></td>
      {% endif %}
      {% if line.T3 %}
          {%if line.T3 < upTemper %}
              <td>{{ line.T3 }}</td>
          {% else %}
              <td style="color: red">
              {{ line.T3 }}
              </td>
          {% endif %}
      {% else %}
          <td></td>
      {% endif %}
      {% if line.T4 %}
          {%if line.T4 < upTemper %}
              <td>{{ line.T4 }}</td>
          {% else %}
              <td style="color: red">
              {{ line.T4 }}
              </td>
          {% endif %}
      {% else %}
          <td></td>
      {% endif %}
      {% if line.T5 %}
          {%if line.T5 < upTemper %}
              <td>{{ line.T5 }}</td>
          {% else %}
              <td style="color: red">
              {{ line.T5 }}
              </td>
          {% endif %}
      {% else %}
          <td></td>
      {% endif %}

      {% if line.T6 %}
          {%if line.T6 < upTemper %}
              <td>{{ line.T6 }}</td>
          {% else %}
              <td style="color: red">
              {{ line.T6 }}
              </td>
          {% endif %}
      {% else %}
          <td></td>
      {% endif %}

      {% if line.T7 %}
          {%if line.T7 < upTemper %}
              <td>{{ line.T7 }}</td>
          {% else %}
              <td style="color: red">
              {{ line.T7 }}
              </td>
          {% endif %}
      {% else %}
          <td></td>
      {% endif %}

      {% if line.T8 %}
          {%if line.T8 < upTemper %}
              <td>{{ line.T8 }}</td>
          {% else %}
              <td style="color: red">
              {{ line.T8 }}
              </td>
          {% endif %}
      {% else %}
          <td></td>
      {% endif %}
      <td>{{ line.name }}</td>
      </tr>
  {% endfor %}
  <footer><div align="center">{{ link }}</div> </footer>
  </table>

